<footer>
  <div class="social-media">
    <nav>
      <ul>
        <li>
          <span class="redesociais">Redes Sociais:</span>
        </li>

        <li>
          <a
            href="https://www.facebook.com/FordBrasil/"
            title="Facebook"
            target="_blank">

            <img src="img/facebook-50.png" alt="Facebook">
          </a>
        </li>

        <li>
          <a
            href="https://www.youtube.com/@ford"
            title="YouTube"
            target="_blank">

            <img src="img/youtube-squared-50.png" alt="YouTube">
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/ford/"
            title="Instagram"
            target="_blank">

            <img src="img/instagram-logo-50.png" alt="Instagram">
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="copyright">
    <p>© 2026 Ford Brasil Ltda. Todos os direitos reservados.</p>
  </div>

  <div class="logo-footer">
    <img src="img/ford-96.png" alt="Logo Ford">
  </div>
</footer>